<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holybell.mybatis.generator.dao.ExpressOrderMapper">
  <resultMap id="BaseResultMap" type="com.holybell.mybatis.generator.entity.ExpressOrder">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="partner_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="city_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="city_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bill_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="weight" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="adjust_weight" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="open_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="union_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="identity_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sender_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_prov" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_county" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_prov" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_county" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="original_express_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="first_arrive_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="rec_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sign_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="coupon_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="coupon_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="discount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="cargo_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_return" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="is_pay" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="init_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="paid_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="repay_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="final_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="final_paid_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="is_repay" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="img1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_membership" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="cancel_reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="urge_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="shanghu_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="can_commission" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="agent_shanghu_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_arrive" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="arrive_img_url" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.holybell.mybatis.generator.entity.ExpressOrder">
    insert into express_order (id, partner_id, city_id, 
      city_name, order_no, bill_no, 
      weight, adjust_weight, open_id, 
      union_id, identity_no, user_id, 
      sender_name, sender_mobile, sender_prov, 
      sender_city, sender_county, sender_address, 
      receiver_name, receiver_mobile, receiver_prov, 
      receiver_city, receiver_county, receiver_address, 
      original_express_no, first_arrive_time, create_time, 
      rec_time, sign_time, coupon_id, 
      coupon_type, discount, cargo_type, 
      is_return, is_pay, init_fee, paid_fee, 
      repay_fee, final_fee, final_paid_fee, 
      is_repay, status, img1, img2, 
      img3, remark, remark2, 
      is_membership, cancel_reason, urge_time, 
      shanghu_id, can_commission, agent_shanghu_id, 
      is_arrive, arrive_img_url)
    values (#{id,jdbcType=INTEGER}, #{partnerId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{cityName,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{billNo,jdbcType=VARCHAR}, 
      #{weight,jdbcType=DECIMAL}, #{adjustWeight,jdbcType=DECIMAL}, #{openId,jdbcType=VARCHAR}, 
      #{unionId,jdbcType=VARCHAR}, #{identityNo,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{senderName,jdbcType=VARCHAR}, #{senderMobile,jdbcType=VARCHAR}, #{senderProv,jdbcType=VARCHAR}, 
      #{senderCity,jdbcType=VARCHAR}, #{senderCounty,jdbcType=VARCHAR}, #{senderAddress,jdbcType=VARCHAR}, 
      #{receiverName,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, #{receiverProv,jdbcType=VARCHAR}, 
      #{receiverCity,jdbcType=VARCHAR}, #{receiverCounty,jdbcType=VARCHAR}, #{receiverAddress,jdbcType=VARCHAR}, 
      #{originalExpressNo,jdbcType=VARCHAR}, #{firstArriveTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{recTime,jdbcType=TIMESTAMP}, #{signTime,jdbcType=TIMESTAMP}, #{couponId,jdbcType=INTEGER}, 
      #{couponType,jdbcType=TINYINT}, #{discount,jdbcType=DECIMAL}, #{cargoType,jdbcType=VARCHAR}, 
      #{isReturn,jdbcType=BIT}, #{isPay,jdbcType=BIT}, #{initFee,jdbcType=DECIMAL}, #{paidFee,jdbcType=DECIMAL}, 
      #{repayFee,jdbcType=DECIMAL}, #{finalFee,jdbcType=DECIMAL}, #{finalPaidFee,jdbcType=DECIMAL}, 
      #{isRepay,jdbcType=BIT}, #{status,jdbcType=BIT}, #{img1,jdbcType=VARCHAR}, #{img2,jdbcType=VARCHAR}, 
      #{img3,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, 
      #{isMembership,jdbcType=BIT}, #{cancelReason,jdbcType=VARCHAR}, #{urgeTime,jdbcType=INTEGER}, 
      #{shanghuId,jdbcType=INTEGER}, #{canCommission,jdbcType=TINYINT}, #{agentShanghuId,jdbcType=INTEGER}, 
      #{isArrive,jdbcType=TINYINT}, #{arriveImgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.holybell.mybatis.generator.entity.ExpressOrder">
    insert into express_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partnerId != null">
        partner_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="billNo != null">
        bill_no,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="adjustWeight != null">
        adjust_weight,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="unionId != null">
        union_id,
      </if>
      <if test="identityNo != null">
        identity_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="senderName != null">
        sender_name,
      </if>
      <if test="senderMobile != null">
        sender_mobile,
      </if>
      <if test="senderProv != null">
        sender_prov,
      </if>
      <if test="senderCity != null">
        sender_city,
      </if>
      <if test="senderCounty != null">
        sender_county,
      </if>
      <if test="senderAddress != null">
        sender_address,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
      <if test="receiverMobile != null">
        receiver_mobile,
      </if>
      <if test="receiverProv != null">
        receiver_prov,
      </if>
      <if test="receiverCity != null">
        receiver_city,
      </if>
      <if test="receiverCounty != null">
        receiver_county,
      </if>
      <if test="receiverAddress != null">
        receiver_address,
      </if>
      <if test="originalExpressNo != null">
        original_express_no,
      </if>
      <if test="firstArriveTime != null">
        first_arrive_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="recTime != null">
        rec_time,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="couponType != null">
        coupon_type,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="cargoType != null">
        cargo_type,
      </if>
      <if test="isReturn != null">
        is_return,
      </if>
      <if test="isPay != null">
        is_pay,
      </if>
      <if test="initFee != null">
        init_fee,
      </if>
      <if test="paidFee != null">
        paid_fee,
      </if>
      <if test="repayFee != null">
        repay_fee,
      </if>
      <if test="finalFee != null">
        final_fee,
      </if>
      <if test="finalPaidFee != null">
        final_paid_fee,
      </if>
      <if test="isRepay != null">
        is_repay,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="img1 != null">
        img1,
      </if>
      <if test="img2 != null">
        img2,
      </if>
      <if test="img3 != null">
        img3,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="remark2 != null">
        remark2,
      </if>
      <if test="isMembership != null">
        is_membership,
      </if>
      <if test="cancelReason != null">
        cancel_reason,
      </if>
      <if test="urgeTime != null">
        urge_time,
      </if>
      <if test="shanghuId != null">
        shanghu_id,
      </if>
      <if test="canCommission != null">
        can_commission,
      </if>
      <if test="agentShanghuId != null">
        agent_shanghu_id,
      </if>
      <if test="isArrive != null">
        is_arrive,
      </if>
      <if test="arriveImgUrl != null">
        arrive_img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="adjustWeight != null">
        #{adjustWeight,jdbcType=DECIMAL},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null">
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null">
        #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="senderMobile != null">
        #{senderMobile,jdbcType=VARCHAR},
      </if>
      <if test="senderProv != null">
        #{senderProv,jdbcType=VARCHAR},
      </if>
      <if test="senderCity != null">
        #{senderCity,jdbcType=VARCHAR},
      </if>
      <if test="senderCounty != null">
        #{senderCounty,jdbcType=VARCHAR},
      </if>
      <if test="senderAddress != null">
        #{senderAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverProv != null">
        #{receiverProv,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverCounty != null">
        #{receiverCounty,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="originalExpressNo != null">
        #{originalExpressNo,jdbcType=VARCHAR},
      </if>
      <if test="firstArriveTime != null">
        #{firstArriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recTime != null">
        #{recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=TINYINT},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="cargoType != null">
        #{cargoType,jdbcType=VARCHAR},
      </if>
      <if test="isReturn != null">
        #{isReturn,jdbcType=BIT},
      </if>
      <if test="isPay != null">
        #{isPay,jdbcType=BIT},
      </if>
      <if test="initFee != null">
        #{initFee,jdbcType=DECIMAL},
      </if>
      <if test="paidFee != null">
        #{paidFee,jdbcType=DECIMAL},
      </if>
      <if test="repayFee != null">
        #{repayFee,jdbcType=DECIMAL},
      </if>
      <if test="finalFee != null">
        #{finalFee,jdbcType=DECIMAL},
      </if>
      <if test="finalPaidFee != null">
        #{finalPaidFee,jdbcType=DECIMAL},
      </if>
      <if test="isRepay != null">
        #{isRepay,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="img1 != null">
        #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null">
        #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null">
        #{img3,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="isMembership != null">
        #{isMembership,jdbcType=BIT},
      </if>
      <if test="cancelReason != null">
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="urgeTime != null">
        #{urgeTime,jdbcType=INTEGER},
      </if>
      <if test="shanghuId != null">
        #{shanghuId,jdbcType=INTEGER},
      </if>
      <if test="canCommission != null">
        #{canCommission,jdbcType=TINYINT},
      </if>
      <if test="agentShanghuId != null">
        #{agentShanghuId,jdbcType=INTEGER},
      </if>
      <if test="isArrive != null">
        #{isArrive,jdbcType=TINYINT},
      </if>
      <if test="arriveImgUrl != null">
        #{arriveImgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.holybell.mybatis.generator.entity.ExpressOrder">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="partner_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="city_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="city_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bill_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="weight" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="adjust_weight" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="open_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="union_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="identity_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sender_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_prov" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_county" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sender_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_prov" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_county" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="receiver_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="original_express_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="first_arrive_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="rec_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sign_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="coupon_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="coupon_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="discount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="cargo_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_return" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="is_pay" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="init_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="paid_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="repay_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="final_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="final_paid_fee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="is_repay" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="img1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="img3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_membership" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="cancel_reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="urge_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="shanghu_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="can_commission" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="agent_shanghu_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_arrive" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="arrive_img_url" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, partner_id, city_id, city_name, order_no, bill_no, weight, adjust_weight, open_id, 
    union_id, identity_no, user_id, sender_name, sender_mobile, sender_prov, sender_city, 
    sender_county, sender_address, receiver_name, receiver_mobile, receiver_prov, receiver_city, 
    receiver_county, receiver_address, original_express_no, first_arrive_time, create_time, 
    rec_time, sign_time, coupon_id, coupon_type, discount, cargo_type, is_return, is_pay, 
    init_fee, paid_fee, repay_fee, final_fee, final_paid_fee, is_repay, status, img1, 
    img2, img3, remark, remark2, is_membership, cancel_reason, urge_time, shanghu_id, 
    can_commission, agent_shanghu_id, is_arrive, arrive_img_url
  </sql>
  <select id="selectByExample" parameterType="com.holybell.mybatis.generator.entity.ExpressOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from express_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.holybell.mybatis.generator.entity.ExpressOrderExample">
    delete from express_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holybell.mybatis.generator.entity.ExpressOrder">
    insert into express_order (id, partner_id, city_id, 
      city_name, order_no, bill_no, 
      weight, adjust_weight, open_id, 
      union_id, identity_no, user_id, 
      sender_name, sender_mobile, sender_prov, 
      sender_city, sender_county, sender_address, 
      receiver_name, receiver_mobile, receiver_prov, 
      receiver_city, receiver_county, receiver_address, 
      original_express_no, first_arrive_time, create_time, 
      rec_time, sign_time, coupon_id, 
      coupon_type, discount, cargo_type, 
      is_return, is_pay, init_fee, paid_fee, 
      repay_fee, final_fee, final_paid_fee, 
      is_repay, status, img1, img2, 
      img3, remark, remark2, 
      is_membership, cancel_reason, urge_time, 
      shanghu_id, can_commission, agent_shanghu_id, 
      is_arrive, arrive_img_url)
    values (#{id,jdbcType=INTEGER}, #{partnerId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{cityName,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{billNo,jdbcType=VARCHAR}, 
      #{weight,jdbcType=DECIMAL}, #{adjustWeight,jdbcType=DECIMAL}, #{openId,jdbcType=VARCHAR}, 
      #{unionId,jdbcType=VARCHAR}, #{identityNo,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{senderName,jdbcType=VARCHAR}, #{senderMobile,jdbcType=VARCHAR}, #{senderProv,jdbcType=VARCHAR}, 
      #{senderCity,jdbcType=VARCHAR}, #{senderCounty,jdbcType=VARCHAR}, #{senderAddress,jdbcType=VARCHAR}, 
      #{receiverName,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, #{receiverProv,jdbcType=VARCHAR}, 
      #{receiverCity,jdbcType=VARCHAR}, #{receiverCounty,jdbcType=VARCHAR}, #{receiverAddress,jdbcType=VARCHAR}, 
      #{originalExpressNo,jdbcType=VARCHAR}, #{firstArriveTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{recTime,jdbcType=TIMESTAMP}, #{signTime,jdbcType=TIMESTAMP}, #{couponId,jdbcType=INTEGER}, 
      #{couponType,jdbcType=TINYINT}, #{discount,jdbcType=DECIMAL}, #{cargoType,jdbcType=VARCHAR}, 
      #{isReturn,jdbcType=BIT}, #{isPay,jdbcType=BIT}, #{initFee,jdbcType=DECIMAL}, #{paidFee,jdbcType=DECIMAL}, 
      #{repayFee,jdbcType=DECIMAL}, #{finalFee,jdbcType=DECIMAL}, #{finalPaidFee,jdbcType=DECIMAL}, 
      #{isRepay,jdbcType=BIT}, #{status,jdbcType=BIT}, #{img1,jdbcType=VARCHAR}, #{img2,jdbcType=VARCHAR}, 
      #{img3,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, 
      #{isMembership,jdbcType=BIT}, #{cancelReason,jdbcType=VARCHAR}, #{urgeTime,jdbcType=INTEGER}, 
      #{shanghuId,jdbcType=INTEGER}, #{canCommission,jdbcType=TINYINT}, #{agentShanghuId,jdbcType=INTEGER}, 
      #{isArrive,jdbcType=TINYINT}, #{arriveImgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.holybell.mybatis.generator.entity.ExpressOrder">
    insert into express_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partnerId != null">
        partner_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="billNo != null">
        bill_no,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="adjustWeight != null">
        adjust_weight,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="unionId != null">
        union_id,
      </if>
      <if test="identityNo != null">
        identity_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="senderName != null">
        sender_name,
      </if>
      <if test="senderMobile != null">
        sender_mobile,
      </if>
      <if test="senderProv != null">
        sender_prov,
      </if>
      <if test="senderCity != null">
        sender_city,
      </if>
      <if test="senderCounty != null">
        sender_county,
      </if>
      <if test="senderAddress != null">
        sender_address,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
      <if test="receiverMobile != null">
        receiver_mobile,
      </if>
      <if test="receiverProv != null">
        receiver_prov,
      </if>
      <if test="receiverCity != null">
        receiver_city,
      </if>
      <if test="receiverCounty != null">
        receiver_county,
      </if>
      <if test="receiverAddress != null">
        receiver_address,
      </if>
      <if test="originalExpressNo != null">
        original_express_no,
      </if>
      <if test="firstArriveTime != null">
        first_arrive_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="recTime != null">
        rec_time,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="couponType != null">
        coupon_type,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="cargoType != null">
        cargo_type,
      </if>
      <if test="isReturn != null">
        is_return,
      </if>
      <if test="isPay != null">
        is_pay,
      </if>
      <if test="initFee != null">
        init_fee,
      </if>
      <if test="paidFee != null">
        paid_fee,
      </if>
      <if test="repayFee != null">
        repay_fee,
      </if>
      <if test="finalFee != null">
        final_fee,
      </if>
      <if test="finalPaidFee != null">
        final_paid_fee,
      </if>
      <if test="isRepay != null">
        is_repay,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="img1 != null">
        img1,
      </if>
      <if test="img2 != null">
        img2,
      </if>
      <if test="img3 != null">
        img3,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="remark2 != null">
        remark2,
      </if>
      <if test="isMembership != null">
        is_membership,
      </if>
      <if test="cancelReason != null">
        cancel_reason,
      </if>
      <if test="urgeTime != null">
        urge_time,
      </if>
      <if test="shanghuId != null">
        shanghu_id,
      </if>
      <if test="canCommission != null">
        can_commission,
      </if>
      <if test="agentShanghuId != null">
        agent_shanghu_id,
      </if>
      <if test="isArrive != null">
        is_arrive,
      </if>
      <if test="arriveImgUrl != null">
        arrive_img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="adjustWeight != null">
        #{adjustWeight,jdbcType=DECIMAL},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null">
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null">
        #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="senderMobile != null">
        #{senderMobile,jdbcType=VARCHAR},
      </if>
      <if test="senderProv != null">
        #{senderProv,jdbcType=VARCHAR},
      </if>
      <if test="senderCity != null">
        #{senderCity,jdbcType=VARCHAR},
      </if>
      <if test="senderCounty != null">
        #{senderCounty,jdbcType=VARCHAR},
      </if>
      <if test="senderAddress != null">
        #{senderAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverProv != null">
        #{receiverProv,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverCounty != null">
        #{receiverCounty,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="originalExpressNo != null">
        #{originalExpressNo,jdbcType=VARCHAR},
      </if>
      <if test="firstArriveTime != null">
        #{firstArriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recTime != null">
        #{recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=TINYINT},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="cargoType != null">
        #{cargoType,jdbcType=VARCHAR},
      </if>
      <if test="isReturn != null">
        #{isReturn,jdbcType=BIT},
      </if>
      <if test="isPay != null">
        #{isPay,jdbcType=BIT},
      </if>
      <if test="initFee != null">
        #{initFee,jdbcType=DECIMAL},
      </if>
      <if test="paidFee != null">
        #{paidFee,jdbcType=DECIMAL},
      </if>
      <if test="repayFee != null">
        #{repayFee,jdbcType=DECIMAL},
      </if>
      <if test="finalFee != null">
        #{finalFee,jdbcType=DECIMAL},
      </if>
      <if test="finalPaidFee != null">
        #{finalPaidFee,jdbcType=DECIMAL},
      </if>
      <if test="isRepay != null">
        #{isRepay,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="img1 != null">
        #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null">
        #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null">
        #{img3,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null">
        #{remark2,jdbcType=VARCHAR},
      </if>
      <if test="isMembership != null">
        #{isMembership,jdbcType=BIT},
      </if>
      <if test="cancelReason != null">
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="urgeTime != null">
        #{urgeTime,jdbcType=INTEGER},
      </if>
      <if test="shanghuId != null">
        #{shanghuId,jdbcType=INTEGER},
      </if>
      <if test="canCommission != null">
        #{canCommission,jdbcType=TINYINT},
      </if>
      <if test="agentShanghuId != null">
        #{agentShanghuId,jdbcType=INTEGER},
      </if>
      <if test="isArrive != null">
        #{isArrive,jdbcType=TINYINT},
      </if>
      <if test="arriveImgUrl != null">
        #{arriveImgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holybell.mybatis.generator.entity.ExpressOrderExample" resultType="java.lang.Long">
    select count(*) from express_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update express_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.partnerId != null">
        partner_id = #{record.partnerId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.cityName != null">
        city_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.billNo != null">
        bill_no = #{record.billNo,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.adjustWeight != null">
        adjust_weight = #{record.adjustWeight,jdbcType=DECIMAL},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.unionId != null">
        union_id = #{record.unionId,jdbcType=VARCHAR},
      </if>
      <if test="record.identityNo != null">
        identity_no = #{record.identityNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.senderName != null">
        sender_name = #{record.senderName,jdbcType=VARCHAR},
      </if>
      <if test="record.senderMobile != null">
        sender_mobile = #{record.senderMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.senderProv != null">
        sender_prov = #{record.senderProv,jdbcType=VARCHAR},
      </if>
      <if test="record.senderCity != null">
        sender_city = #{record.senderCity,jdbcType=VARCHAR},
      </if>
      <if test="record.senderCounty != null">
        sender_county = #{record.senderCounty,jdbcType=VARCHAR},
      </if>
      <if test="record.senderAddress != null">
        sender_address = #{record.senderAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverName != null">
        receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverMobile != null">
        receiver_mobile = #{record.receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverProv != null">
        receiver_prov = #{record.receiverProv,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverCity != null">
        receiver_city = #{record.receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverCounty != null">
        receiver_county = #{record.receiverCounty,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverAddress != null">
        receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.originalExpressNo != null">
        original_express_no = #{record.originalExpressNo,jdbcType=VARCHAR},
      </if>
      <if test="record.firstArriveTime != null">
        first_arrive_time = #{record.firstArriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recTime != null">
        rec_time = #{record.recTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signTime != null">
        sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.couponId != null">
        coupon_id = #{record.couponId,jdbcType=INTEGER},
      </if>
      <if test="record.couponType != null">
        coupon_type = #{record.couponType,jdbcType=TINYINT},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DECIMAL},
      </if>
      <if test="record.cargoType != null">
        cargo_type = #{record.cargoType,jdbcType=VARCHAR},
      </if>
      <if test="record.isReturn != null">
        is_return = #{record.isReturn,jdbcType=BIT},
      </if>
      <if test="record.isPay != null">
        is_pay = #{record.isPay,jdbcType=BIT},
      </if>
      <if test="record.initFee != null">
        init_fee = #{record.initFee,jdbcType=DECIMAL},
      </if>
      <if test="record.paidFee != null">
        paid_fee = #{record.paidFee,jdbcType=DECIMAL},
      </if>
      <if test="record.repayFee != null">
        repay_fee = #{record.repayFee,jdbcType=DECIMAL},
      </if>
      <if test="record.finalFee != null">
        final_fee = #{record.finalFee,jdbcType=DECIMAL},
      </if>
      <if test="record.finalPaidFee != null">
        final_paid_fee = #{record.finalPaidFee,jdbcType=DECIMAL},
      </if>
      <if test="record.isRepay != null">
        is_repay = #{record.isRepay,jdbcType=BIT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.img1 != null">
        img1 = #{record.img1,jdbcType=VARCHAR},
      </if>
      <if test="record.img2 != null">
        img2 = #{record.img2,jdbcType=VARCHAR},
      </if>
      <if test="record.img3 != null">
        img3 = #{record.img3,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.remark2 != null">
        remark2 = #{record.remark2,jdbcType=VARCHAR},
      </if>
      <if test="record.isMembership != null">
        is_membership = #{record.isMembership,jdbcType=BIT},
      </if>
      <if test="record.cancelReason != null">
        cancel_reason = #{record.cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="record.urgeTime != null">
        urge_time = #{record.urgeTime,jdbcType=INTEGER},
      </if>
      <if test="record.shanghuId != null">
        shanghu_id = #{record.shanghuId,jdbcType=INTEGER},
      </if>
      <if test="record.canCommission != null">
        can_commission = #{record.canCommission,jdbcType=TINYINT},
      </if>
      <if test="record.agentShanghuId != null">
        agent_shanghu_id = #{record.agentShanghuId,jdbcType=INTEGER},
      </if>
      <if test="record.isArrive != null">
        is_arrive = #{record.isArrive,jdbcType=TINYINT},
      </if>
      <if test="record.arriveImgUrl != null">
        arrive_img_url = #{record.arriveImgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update express_order
    set id = #{record.id,jdbcType=INTEGER},
      partner_id = #{record.partnerId,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      bill_no = #{record.billNo,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=DECIMAL},
      adjust_weight = #{record.adjustWeight,jdbcType=DECIMAL},
      open_id = #{record.openId,jdbcType=VARCHAR},
      union_id = #{record.unionId,jdbcType=VARCHAR},
      identity_no = #{record.identityNo,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      sender_name = #{record.senderName,jdbcType=VARCHAR},
      sender_mobile = #{record.senderMobile,jdbcType=VARCHAR},
      sender_prov = #{record.senderProv,jdbcType=VARCHAR},
      sender_city = #{record.senderCity,jdbcType=VARCHAR},
      sender_county = #{record.senderCounty,jdbcType=VARCHAR},
      sender_address = #{record.senderAddress,jdbcType=VARCHAR},
      receiver_name = #{record.receiverName,jdbcType=VARCHAR},
      receiver_mobile = #{record.receiverMobile,jdbcType=VARCHAR},
      receiver_prov = #{record.receiverProv,jdbcType=VARCHAR},
      receiver_city = #{record.receiverCity,jdbcType=VARCHAR},
      receiver_county = #{record.receiverCounty,jdbcType=VARCHAR},
      receiver_address = #{record.receiverAddress,jdbcType=VARCHAR},
      original_express_no = #{record.originalExpressNo,jdbcType=VARCHAR},
      first_arrive_time = #{record.firstArriveTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      rec_time = #{record.recTime,jdbcType=TIMESTAMP},
      sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      coupon_id = #{record.couponId,jdbcType=INTEGER},
      coupon_type = #{record.couponType,jdbcType=TINYINT},
      discount = #{record.discount,jdbcType=DECIMAL},
      cargo_type = #{record.cargoType,jdbcType=VARCHAR},
      is_return = #{record.isReturn,jdbcType=BIT},
      is_pay = #{record.isPay,jdbcType=BIT},
      init_fee = #{record.initFee,jdbcType=DECIMAL},
      paid_fee = #{record.paidFee,jdbcType=DECIMAL},
      repay_fee = #{record.repayFee,jdbcType=DECIMAL},
      final_fee = #{record.finalFee,jdbcType=DECIMAL},
      final_paid_fee = #{record.finalPaidFee,jdbcType=DECIMAL},
      is_repay = #{record.isRepay,jdbcType=BIT},
      status = #{record.status,jdbcType=BIT},
      img1 = #{record.img1,jdbcType=VARCHAR},
      img2 = #{record.img2,jdbcType=VARCHAR},
      img3 = #{record.img3,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      remark2 = #{record.remark2,jdbcType=VARCHAR},
      is_membership = #{record.isMembership,jdbcType=BIT},
      cancel_reason = #{record.cancelReason,jdbcType=VARCHAR},
      urge_time = #{record.urgeTime,jdbcType=INTEGER},
      shanghu_id = #{record.shanghuId,jdbcType=INTEGER},
      can_commission = #{record.canCommission,jdbcType=TINYINT},
      agent_shanghu_id = #{record.agentShanghuId,jdbcType=INTEGER},
      is_arrive = #{record.isArrive,jdbcType=TINYINT},
      arrive_img_url = #{record.arriveImgUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>